#Python Problem



```
# This is formatted as code
```

##1.String

In [ ]:
print("Hello world!")

Hello world!

In [ ]:
print("Hello World! \nHello World!")

Hello World!
Hello World!

In [ ]:
print("Day 1 - String Manipulation")
print("String Concatenation is done with the "+" sign.")
print('(e.g. print"+"("Hello" + "world")')
print("New lines can be created with a backslash and n.")

Day 1 - String Manipulation
String Concatenation is done with the  sign.
(e.g. print"+"("Hello" + "world")
New lines can be created with a backslash and n.

##2.Input Function

In [ ]:

#Input function
print ("Hello "+input("Enter your Name "))

Enter your Name Rushabh
Hello Rushabh

In [ ]:
name=input("Enter your name ")
print(name)

Enter your name Rushabh
Rushabh

#Section2

##1.Type checking

In [ ]:
# Type Checking
x = 42
y = "Hello, World!"

print(type(x))
print(type(y))

a = "123"
b = int(a)  # Convert a string to an integer
c = float(a)  # Convert a string to a float
d = str(x)  # Convert an integer to a string

print(b)
print(c)
print(d)
print(e)

# Check the types of converted variables
print(type(b))  # <class 'int'>
print(type(c))  # <class 'float'>
print(type(d))  # <class 'str'>

<class 'int'>
<class 'str'>
123
123.0
42
[1, 2, 3]
<class 'int'>
<class 'float'>
<class 'str'>

##2.BMI

In [ ]:
height = float(input())  # Convert height to a float
weight = float(input())  # Convert weight to a float

bmi = weight / (height ** 2)
bmi_as_int = int(bmi)  # Convert the result to an integer

print(bmi_as_int)

1.7
60
20

##3.Practice

In [ ]:
print(round(9.56536737))

10

In [ ]:
print (7//6)

1

##4.fString

In [ ]:
score = 0
height = 1.8
isWinning = True

#f-String

#print ("Your Score is" + score)

print(f"your score is {score}, your height is {height}, you are winning is {isWinning}")

your score is 0, your height is 1.8, you are winning is True

In [ ]:
age = input()
# Your code below this line ðŸ‘‡
years = 90 - int(age)
weeks = years * 52

print(f"You have {weeks} weeks left.")

22
You have 3536 weeks left.

##5.Tip Calculator

In [ ]:
print("Welcome to the tip calculator!")
bill = float(input("What was the total bill? $"))
tip = int(input("How much tip would you like to give? 10, 12, or 15? "))
people = int(input("How many people to split the bill?"))

tip_as_percent = tip / 100
total_tip_amount = bill * tip_as_percent
total_bill = bill + total_tip_amount
bill_per_person = total_bill / people
final_amount = round(bill_per_person, 2)


print(f"Each person should pay: ${final_amount}")

Welcome to the tip calculator!
What was the total bill? $100
How much tip would you like to give? 10, 12, or 15? 12
How many people to split the bill?4
Each person should pay: $28.0

#Section3

##1.if else

In [ ]:
print("Welcome to the rollercoaster!")

height = int(input("What is your height in cm? "))

if height == 120:
  print("You can ride the rollercoaster!")

else:
  print("Sorry, you have to grow taller before you can ride.")

Welcome to the rollercoaster!
What is your height in cm? 109
Sorry, you have to grow taller before you can ride.

In [ ]:
number = int(input())

if number % 2 == 0:
  print("This is an even number.")
else:
  print("This is an odd number.")

10
This is an even number.

##2.Nested if and elif

In [ ]:
print("Welcome to the rollercoaster!")

height = int(input("What is your height in cm? "))
if height >= 120:
  print("You can ride the rollercoaster!")

  age = int(input("What is your age?"))
  if age < 12:
    print("Please pay $5.")

  elif age <= 18:
    print("Please pay $7.")

  else:
    print("Please pay $12.")

else:
  print("Sorry, you have to grow taller before you can ride.")

Welcome to the rollercoaster!
What is your height in cm? 140
You can ride the rollercoaster!
What is your age?12
Please pay $7.

BMI with if else

In [ ]:
height = float(input("Enter height in m"))  # Convert height to a float
weight = float(input("enter weight in kg"))  # Convert weight to a float
bmi = weight / (height * height)
if bmi < 18.5:
  print(f"Your BMI is {bmi}, you are underweight.")
elif bmi < 25:
  print(f"Your BMI is {bmi}, you have a normal weight.")
elif bmi < 30:
  print(f"Your BMI is {bmi}, you are slightly overweight.")
elif bmi < 35:
  print(f"Your BMI is {bmi}, you are obese.")
else:
  print(f"Your BMI is {bmi}, you are clinically obese.")

Enter height in m1.6
enter weight in kg77
Your BMI is 30.078124999999993, you are obese.

##3.Logical Operator

In [ ]:

age = int(input("Enter your age: "))
is_citizen = input("Are you a citizen (Y or N)? ")

# Define the voting eligibility criteria
voting_age = 18

# Check if the person is eligible to vote
if age >= voting_age and is_citizen == "Y":
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

# Additional check for non-citizens
if age >= voting_age and is_citizen == "N":
    print("You are eligible to vote in the future once you become a citizen.")

Enter your age: 21
Are you a citizen (Y or N)? Y
You are eligible to vote.

#Section4

##1.Random Module

In [ ]:
import random

randomInteger=random.randint(1,10)
print(randomInteger)

randomFloat=random.random()
print(randomFloat)

8
0.06297770263305513

In [ ]:
import random
random_side=random.randint(0,1)

if random_side==1:
  print("Head")

else:
  print("Tail")

Tail

##2.List

append and extend in list

In [ ]:
student_name= ["Justine","Lailah","Keagan","Tobias","Izabelle","Cristal","Ari","Kelton","Kinley","Beckham"]

print(student_name[0])
print(student_name[5])

student_name.append("john")
student_name.extend(["Rushabh","virat","Rohit"])
print(student_name)

Justine
Cristal
['Justine', 'Lailah', 'Keagan', 'Tobias', 'Izabelle', 'Cristal', 'Ari', 'Kelton', 'Kinley', 'Beckham', 'john', 'Rushabh', 'virat', 'Rohit']

merging two list

In [ ]:
fruits = ["apple", "banana", "orange", "grape", "kiwi"]
numbers = [1, 5, 10, 15, 20]

list=[fruits,numbers]
print(list)

[['apple', 'banana', 'orange', 'grape', 'kiwi'], [1, 5, 10, 15, 20]]

Rock Paper Scissor

In [ ]:
import random
user_choice = int(input("What do you choose? Type 0 for Rock, 1 for Paper or 2 for Scissors.\n"))

computer_choice = random.randint(0, 2)
print(f"Computer chose: {computer_choice}")

if user_choice >= 3 or user_choice < 0:
  print("You typed an invalid number, you lose!")
elif user_choice == 0 and computer_choice == 2:
  print("You win!")
elif computer_choice == 0 and user_choice == 2:
  print("You lose")
elif computer_choice > user_choice:
  print("You lose")
elif user_choice > computer_choice:
  print("You win!")
elif computer_choice == user_choice:
  print("It's a draw")

What do you choose? Type 0 for Rock, 1 for Paper or 2 for Scissors.
2
Computer chose: 1
You win!

#Section5

##1.Loops

In [ ]:
fruits=["Apple","Peach","Guava"]

for fruit in fruits:
  print (fruit)
  print(fruit+" pie")

Apple
Apple pie
Peach
Peach pie
Guava
Guava pie

highest score

In [ ]:
student_scores = input().split()
for n in range(0, len(student_scores)):
  student_scores[n] = int(student_scores[n])

highest_score = 0
for score in student_scores:
  if score > highest_score:
    highest_score = score

print(f"The highest score in the class is: {highest_score}")

10 20 30 40 50
The highest score in the class is: 50

range in for loop

In [ ]:
num = int(input("Enter the number: "))

# Generate and print the table
for i in range(1, 11):
    result = num * i
    print(f"{num} x {i} = {result}")

Enter the number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Fizz buzz code

In [ ]:
target = 100
for number in range(1, target + 1):
  if number % 3 == 0 and number % 5 == 0:
    print("FizzBuzz")
  elif number % 3 == 0:
    print("Fizz")
  elif number % 5 == 0:
    print("Buzz")
  else:
    print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

#Section6

##1.Function

In [ ]:
def add_numbers(a,b):
    result = a + b
    return result

# Using the function
x = int(input("x: "))
y = int(input("y: "))
sum_result = add_numbers(x, y)
print(f"The sum of {x} and {y} is {sum_result}")

x: 9
y: 89
The sum of 9 and 89 is 98

##2.While Loop

In [ ]:
i=0

while i<10:
  i+=1
  print(i)

1
2
3
4
5
6
7
8
9
10

factorial

In [ ]:
num = int(input("Enter a number: "))

factorial = 1
i = 1

# Calculate the factorial using a while loop
while i <= num:
    factorial *= i
    i += 1

print(f"The factorial of {num} is {factorial}")

Enter a number: 5
The factorial of 5 is 120

#Section8

##1.Function with input

In [ ]:
def iname(name,age):
  print(f"your name is {name}")
  print(f"your age is {age}")

iname("Samay",25)

your name is Samay
your age is 25

paint calculator

In [ ]:
import math

def paint_calc(height, width, cover):
  num_cans = (height * width) / cover
  round_up_cans = math.ceil(num_cans)
  print(f"You'll need {round_up_cans} cans of paint.")

# Your code above this line ðŸ‘†
test_h = int(input()) # Height of wall (m)
test_w = int(input()) # Width of wall (m)
coverage = 5
paint_calc(height=test_h, width=test_w, cover=coverage)

6
7
You'll need 9 cans of paint.

#Section9

##Dictionary

In [ ]:
# Create a dictionary with key-value pairs
student = {
    "name": "John",
    "age": 25,
    "grade": "A",
    "courses": ["Math", "History", "Science"]
}

# Print the entire dictionary
print("Student Information:")
print(student)

Student Information:
{'name': 'John', 'age': 25, 'grade': 'A', 'courses': ['Math', 'History', 'Science']}

Grading program

In [ ]:
student_scores = {
  "Harry": 81,
  "Ron": 78,
  "Hermione": 99,
  "Draco": 74,
  "Neville": 62,
}

# TODO-1: Create an empty dictionary called student_grades.
student_grades = {}

# TODO-2: Covert scores into grades.
for student in student_scores:
  score = student_scores[student]
  if score > 90:
    student_grades[student] = "Outstanding"
  elif score > 80:
    student_grades[student] = "Exceeds Expectations"
  elif score > 70:
    student_grades[student] = "Acceptable"
  else:
    student_grades[student] = "Fail"

print(student_grades)

{'Harry': 'Exceeds Expectations', 'Ron': 'Acceptable', 'Hermione': 'Outstanding', 'Draco': 'Acceptable', 'Neville': 'Fail'}

In [ ]:
#Nesting

capitals = {

"France": "Paris", "Germany": "Berlin",

}

#Nesting a List in a Dictionary

travel_log= {

"France": ["Paris", "Lille", "Dijon"], "Germany": ["Berlin", "Hamburg", "Stuttgart"],
}
#Nesting Dictionary in a List

travel_log = [

{

"country": "France",

"cities_visited": ["Paris", "Lille", "Dijon"],

"total_visits": 12

},
 {
    "country": "Germany",
    "cities_visited": ["Berlin", "Hamburg", "Stuttgart"],
    "total_visits": 5

},
]

#Section10

##Function with output

In [ ]:
#Functions with Outputs

def format_name(f_name, l_name):
  formated_f_name = f_name.title()
  formated_l_name = l_name.title()
  print(f"{formated_f_name} {formated_l_name}")

format_name("ANGELA", "YU")

Angela Yu

days in a month

In [ ]:
def is_leap(year):
  if year % 4 == 0:
    if year % 100 == 0:
      if year % 400 == 0:
        print("Leap year")
      else:
        print("Not leap year")
    else:
      print("Leap year")
  else:
    print("Not leap year")


def days_in_month(year, month):
  month_days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

  if month == 2 and is_leap(year):
    return 29
  else:
    return month_days[month - 1]

# Your code above
year = int(input("enter year:")) # Enter a year
month = int(input("enter month")) # Enter a month
days = days_in_month(year, month)
print(days)

enter year:23
enter month5
31

Calculator

In [ ]:
#Add

def add(n1, n2):
  return n1 + n2

#Subtract

def subtract (n1, n2):
  return n1 - n2

#Multiply

def multiply(n1, n2):
  return n1 * n2

#Divide

def divide (n1, n2):
  return n1 / n2

operation= {
    "+":add,
    "-":subtract,
    "*":multiply,
    "/":divide
    }

num1=int(input("Enter the 1st number"))
num2=int(input("Enter the 2nd number"))
for symbol in operation:
  print(symbol)

operation_symbol=input("Pick an operation from the line above: ")

calculation_function=operation[operation_symbol]
answer=calculation_function(num1,num2)
print(f"{num1} {operation_symbol} {num2} ={answer}")

Enter the 1st number13
Enter the 2nd number12
+
-
*
/
Pick an operation from the line above: *
13 * 12 =156

#Section12

##Global and local scope

In [ ]:
player_health=10

def drink_portion():
  portion_strength=2
  print(player_health)

drink_portion()
print(player_health)

#print(portion_strength)

10
10

Number guessing game

In [ ]:
import random

EASY_LEVEL_TURNS = 10

HARD_LEVEL_TURNS = 5



#Function to check user's guess against actual answer.

def check_answer(guess, answer, turns):

  """checks answer against guess. Returns the number of turns remaining."""

  if guess > answer:

    print("Too high.")

    return turns - 1

  elif guess < answer:

    print("Too low.")

    return turns - 1

  else:

    print(f"You got it! The answer was {answer}.")



#Make function to set difficulty.

def set_difficulty():

  level = input("Choose a difficulty. Type 'easy' or 'hard': ")

  if level == "easy":

    return EASY_LEVEL_TURNS

  else:

    return HARD_LEVEL_TURNS



def game():



  #Choosing a random number between 1 and 100.

  print("Welcome to the Number Guessing Game!")

  print("I'm thinking of a number between 1 and 100.")

  answer = random.randint(1, 100)

  print(f"Pssst, the correct answer is {answer}")



  turns = set_difficulty()

  #Repeat the guessing functionality if they get it wrong.

  guess = 0

  while guess != answer:

    print(f"You have {turns} attempts remaining to guess the number.")



    #Let the user guess a number.

    guess = int(input("Make a guess: "))



    #Track the number of turns and reduce by 1 if they get it wrong.

    turns = check_answer(guess, answer, turns)

    if turns == 0:

      print("You've run out of guesses, you lose.")

      return

    elif guess != answer:

      print("Guess again.")





game()

Welcome to the Number Guessing Game!
I'm thinking of a number between 1 and 100.
Pssst, the correct answer is 91
Choose a difficulty. Type 'easy' or 'hard': easy
You have 10 attempts remaining to guess the number.
Make a guess: 20
Too low.
Guess again.
You have 9 attempts remaining to guess the number.
Make a guess: 40
Too low.
Guess again.
You have 8 attempts remaining to guess the number.
Make a guess: 50
Too low.
Guess again.
You have 7 attempts remaining to guess the number.
Make a guess: 70
Too low.
Guess again.
You have 6 attempts remaining to guess the number.
Make a guess: 80
Too low.
Guess again.
You have 5 attempts remaining to guess the number.
Make a guess: 90
Too low.
Guess again.
You have 4 attempts remaining to guess the number.
Make a guess: 100
Too high.
Guess again.
You have 3 attempts remaining to guess the number.
Make a guess: 94
Too high.
Guess again.
You have 2 attempts remaining to guess the number.
Make a guess: 92
Too high.
Guess again.
You have 1 attempts remaining to guess the number.
Make a guess: 91
You got it! The answer was 91.

# New Section

cofee machine code

In [ ]:
# Define initial ingredients
water = 400
milk = 540
coffee_beans = 120
disposable_cups = 9
money = 550

# Function to display the current status of the coffee machine
def display_status():
    print("\nCoffee Machine Status:")
    print(f"Water: {water} ml")
    print(f"Milk: {milk} ml")
    print(f"Coffee Beans: {coffee_beans} grams")
    print(f"Disposable Cups: {disposable_cups}")
    print(f"Money: ${money}\n")

# Function to serve a cup of coffee
def serve_coffee(water_needed, milk_needed, coffee_beans_needed, cost):
    #nonlocal water, milk, coffee_beans, disposable_cups, money
    if water >= water_needed and milk >= milk_needed and coffee_beans >= coffee_beans_needed and disposable_cups >= 1:
        print("Preparing your coffee. Enjoy!")
        water -= water_needed
        milk -= milk_needed
        coffee_beans -= coffee_beans_needed
        disposable_cups -= 1
        money += cost
    else:
        if water < water_needed:
            print("Sorry, not enough water.")
        elif milk < milk_needed:
            print("Sorry, not enough milk.")
        elif coffee_beans < coffee_beans_needed:
            print("Sorry, not enough coffee beans.")
        else:
            print("Sorry, not enough disposable cups.")


# Main program loop
while True:
    action = input("What would you like? (buy, fill, take, remaining, exit): ").lower()

    if action == "buy":
        coffee_type = input("What do you want to buy? (1 - Espresso, 2 - Latte, 3 - Cappuccino, back - Main menu): ").lower()
        if coffee_type == "1":
            serve_coffee(250, 0, 16, 4)
        elif coffee_type == "2":
            serve_coffee(350, 75, 20, 7)
        elif coffee_type == "3":
            serve_coffee(200, 100, 12, 6)
        elif coffee_type == "back":
            continue
        else:
            print("Invalid choice.")

    elif action == "fill":
        water += int(input("How many ml of water do you want to add? "))
        milk += int(input("How many ml of milk do you want to add? "))
        coffee_beans += int(input("How many grams of coffee beans do you want to add? "))
        disposable_cups += int(input("How many disposable cups do you want to add? "))

    elif action == "take":
        print(f"Here is ${money}")
        money = 0

    elif action == "remaining":
        display_status()

    elif action == "exit":
        break

    else:
        print("Invalid action. Please try again.")

What would you like? (buy, fill, take, remaining, exit): fill
How many ml of water do you want to add? 10
How many ml of milk do you want to add? 20
How many grams of coffee beans do you want to add? 5
How many disposable cups do you want to add? 1
What would you like? (buy, fill, take, remaining, exit): exit

Inheritance

In [ ]:
class Animal:
    def __init__(self):
        self.num_eyes = 2

    def breathe(self):
        print("Inhale, exhale.")

class Fish(Animal):
    def __init__(self):
        super().__init__()

    def breathe(self):
        super().breathe()
        print("doing this underwater.")

    def swim(self):
        print("moving in water.")

nemo = Fish()
nemo.breathe()

Inhale, exhale.
doing this underwater.

List Comprehension

Squaring numbers

In [ ]:
numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

# Your code below ðŸ‘‡
squared_numbers = [num * num for num in numbers]
# Your code above ðŸ‘†

print(squared_numbers)

[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

filtering even numbers from list

In [ ]:
list_of_strings = input().split(' ')

# list comprehension to convert strings to integers
numbers = [int(x) for x in list_of_strings]

# list comprehension to filter on even numbers
result = [num for num in numbers if num%2==0]

print(result)

2 3 4 5 6 7 8 9 0
[2, 4, 6, 8, 0]

Dictionary Comprehension

In [ ]:
sentence = input()

# Using dictionary comprehension
result = {word:len(word) for word in sentence.split()}

print(result)

Hey there ! What are you doing ?
{'Hey': 3, 'there': 5, '!': 1, 'What': 4, 'are': 3, 'you': 3, 'doing': 5, '?': 1}

In [ ]:
# eval() converts correctly formatted string to dict
weather_c = eval(input())

# dictionary comprehension
weather_f = {day:temp * 9/5 + 32 for (day, temp) in weather_c.items()} #convert C to F.

print(weather_f)

{ "monday":30,"tuesday":34}
{'monday': 86.0, 'tuesday': 93.2}

In [ ]:
Iterate over dictionary

In [ ]:
#For Loop
numbers = [1, 2, 3]
new_list = []
for n in numbers:
    add_1 = n + 1
    new_list.append(add_1)



#List Comprehension
new_list = [n + 1 for n in numbers]



#String as List
name = "Angela"
letters_list = [letter for letter in name]



#Range as List
range_list = [n * 2 for n in range(1, 5)]



#Conditional List Comprenhension
names = ["Alex", "Beth", "Caroline", "Dave", "Elanor", "Freddie"]
short_names = [name for name in names if len(name) < 5]



upper_case_names = [name.upper() for name in names if len(name) > 4]



#Dictionary Comprehension
import random
student_grades = {name: random.randint(1, 100) for name in names}
print(student_grades)



passed_students = {
    student: grade
    for (student, grade) in student_grades.items() if grade >= 60
}
print(passed_students)

{'Alex': 47, 'Beth': 84, 'Caroline': 2, 'Dave': 10, 'Elanor': 47, 'Freddie': 22}
{'Beth': 84}

unlimited argument

In [ ]:
def add(*args):
  sum=0
  for n in args:
    sum += n
  return sum

print("the sum is",add(4,5,6,7,8,9))

the sum is 39



```
# This is formatted as code
```

# Day8

##Exception handling

In [9]:
#Exception Handling

try:
    file = open("a_file.txt")
    a_dictionary = {"key": "value"}
    print(a_dictionary["key"])
except FileNotFoundError:
    file = open("a_file.txt", "w")
    file.write("Something")
except KeyError as error_message:
    print(f"The key {error_message} does not exist.")
else:
    content = file.read()
    print(content)
finally:
  file.close()

value
Something

In [10]:
#BMI Example

height = float(input("Height: "))
weight = int(input("Weight: "))

if height > 3:
    raise ValueError("Human Height should not be over 3 meters.")

bmi = weight / height ** 2
print(bmi)

Height: 4
Weight: 78

ValueError: ignored

Index Error Handling

In [14]:
fruits = eval(input())

# Catch the exception and make sure the code runs without crashing.
def make_pie():
  try:
    fruit = findexruits[index]
  except IndexError:
    print("Fruit pie")
  else:
    print(fruit + " pie")

make_pie(4) # Raises IndexError on list with less than 5 items

["banana","apple"]
Fruit pie

In [18]:
facebook_posts = eval(input())

total_likes = 0
# Catching the KeyError exception in the dictionary
for post in facebook_posts:
  try:
    total_likes = total_likes + post['Likes']
  except KeyError:
    pass

print(total_likes)

[{'Likes': 21, 'Comments': 2}, {'Likes': 13, 'Comments': 2, 'Shares': 1}, {'Likes': 33, 'Comments': 8, 'Shares': 3}, {'Comments': 4, 'Shares': 2},{'Comments': 1, 'Shares': 1}, {'Likes': 19, 'Comments': 3}]
86

##Type Hint

In [19]:
#age: int
#name: str
#height: float
#is_human: bool


def police_check(age: int) -> bool:
    if age > 18:
        can_drive = True
    else:
        can_drive = False
    return can_drive


if police_check(12):
    print("You may pass")
else:
    print("Pay a fine.")

Pay a fine.