In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

access item

In [9]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

print(x)

Mustang

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

to add

In [10]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

remove

In [11]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

function

In [13]:
def my_fun():
  print("Hello")

my_fun()

Hello

to pass arg

In [16]:
def my_fun(fname):
  print(fname + " Resel")

my_fun("caron")
my_fun("mark")
my_fun("Linus")

caron Resel
mark Resel
Linus Resel

if else

In [17]:
height = float(input("Enter height in m"))  # Convert height to a float
weight = float(input("enter weight in kg"))  # Convert weight to a float
bmi = weight / (height * height)
if bmi < 18.5:
  print(f"Your BMI is {bmi}, you are underweight.")
elif bmi < 25:
  print(f"Your BMI is {bmi}, you have a normal weight.")
elif bmi < 30:
  print(f"Your BMI is {bmi}, you are slightly overweight.")
elif bmi < 35:
  print(f"Your BMI is {bmi}, you are obese.")
else:
  print(f"Your BMI is {bmi}, you are clinically obese.")

Enter height in m1.7
enter weight in kg60
Your BMI is 20.761245674740486, you have a normal weight.

In [18]:
import random
random_side=random.randint(0,1)

if random_side==1:
  print("Head")

else:
  print("Tail")

Head

list

In [19]:
student_name= ["Justine","Lailah","Keagan","Tobias","Izabelle","Cristal","Ari","Kelton","Kinley","Beckham"]

print(student_name[0])
print(student_name[5])

student_name.append("john")
student_name.extend(["Rushabh","virat","Rohit"])
print(student_name)

Justine
Cristal
['Justine', 'Lailah', 'Keagan', 'Tobias', 'Izabelle', 'Cristal', 'Ari', 'Kelton', 'Kinley', 'Beckham', 'john', 'Rushabh', 'virat', 'Rohit']

In [20]:
fruits = ["apple", "banana", "orange", "grape", "kiwi"]
numbers = [1, 5, 10, 15, 20]

list=[fruits,numbers]
print(list)

[['apple', 'banana', 'orange', 'grape', 'kiwi'], [1, 5, 10, 15, 20]]

In [ ]:
num = int(input("Enter the number: "))

# Generate and print the table
for i in range(1, 11):
    result = num * i
    print(f"{num} x {i} = {result}")